*{
    background-color:cornsilk;
   
}
#navbar{
    font-size: large;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 10px;
}
#scorelink{
    color: aqua;
    background-color: cadetblue;
    border-radius: 15px;
    padding: 10px;
    justify-content: left;
    margin-right: 70%;
    margin-top: 15px;
}
#timer{
    justify-content: right;
    text-align: right;
}

#scorelink:hover{
    color:darkorange;
}

#intro{
    font-size: x-large;
    text-align: center;
}
#controls{
    text-align: center;
    justify-content: center;
}
#startbutton{
    font-size: 24px;
    background-color: aqua;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    width:50%;
    margin-top: 100px;
}
#startbutton:hover{
    background-color: red;
    border-radius: 50px;
}
#homeimg{
    height: 50%;
    width: 75%;
    margin-top: 100px;
    border: black;
    border-style: groove;
    border-width: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#container {
    justify-content: center;
    text-align: center;
}

#questionPrompt{
    font-size: x-large;
   
}

.option{
    list-style: none;
    margin-top: 25px;
    margin-bottom: 10px;
    padding:25px;
    border:black;
    border-style: solid;
    border-radius: 5px;

}
.option:hover{
    background-color: aqua;
}

.quizFeedback{
    justify-content: center;
    text-align: center;
    font-size: x-large;
    color: darkblue;
}
/*form is stuck for some reason to the left*/
form{
    justify-content: center;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    display: none;
    padding: 10px;
    font-size: large;
}
#submit{
    margin-left: 25px;
    background-color: teal;
    font-size: 20px;
    color: white;
}
#finalScore{
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    color: darkblue;
}

#title{
    text-align: center;
    color:orange;

    border:solid;
    border-style:groove;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
}
#clear, #tryAgain{
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 25px;
    justify-content: center;
    text-align: center;
    margin-left: 40%;
    margin-bottom: 25px;
    width: 20%;

}
#clear:hover, #tryAgain:hover{
    background-color: blueviolet;
}
#hsimg{
    height: 40%;
    width: 40%;
    margin-top: 100px;
    border: black;
    border-style: groove;
    border-width: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
#playerList{
    list-style: none;
    font-size: large;
    text-align: center;
    font-weight: bolder;
    margin-top: 25px;
    margin-bottom: 10px;
    padding:25px;
}

